<!DOCTYPE html>
<!-- nagios check -->
<html lang="en" class="no-js">
  <head>
    <title>Databases</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'public/main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag '@fortawesome/fontawesome-free/css/all.min.css', media: 'all' %>

    <!-- Google Analytics -->
    <%= render 'shared/google_analytics' %>
  </head>

  <body>
 
    <!-- Skip to Navigation -->
    <header>
      <a class="skip-nav" href="#main"> Skip to Main Content </a>
      <%= render 'header/public' %>
    </header>

    <!-- Navigation -->
    <%= render 'public/partials/navigation' %>

    <!-- Templated Content Region -->
    <main id="main" class="wrapper">
      <div class="container">
        <!-- Flash -->
        <%= render "utilities/alerts" %>

        <!-- Yield -->
        <div class="main-content">
          <%= yield %>
        </div>
      </div>
    </main>

    <aside>
      <!-- Help -->
      <%= render 'public/partials/help' %>
      <!-- Mobile Sticky Navigation -->
      <%= render 'public/partials/mobile_navigation' %>
    </aside>

    <!-- Footers -->
    <%= render 'public/partials/footer' %>

    <!-- JavaScripts -->
    <%= yield :js %>
    <%= render 'shared/browser_update' %>
    <%= render 'public/partials/ask_a_librarian' %>
  </body>
</html>
