<%= form_for [:admin, database], html: { multipart: true } do |form| %>
  <% if database.errors.any? %>
    <div id="error_explanation" role="alert" aria-atomic="true">  
      <h2>
        <%= pluralize(database.errors.count, "error") %> 
        <%= I18n.t("admin.basic.error_prompt") %>
      </h2>

      <ul>
      <% database.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset> 
    <legend> <%= I18n.t("admin.databases.forms.basic_title") %> </legend>
    
    <div class="row"> 
      <div class="field three-fourth">
        <%= form.label :name, 'Title', class: 'required' %>
        <%= form.text_field :name %>
      </div>

      <div class="field one-fourth">
        <%= form.label :status, class: 'required' %>
        <div class="select-style">
          <%= form.select :status, options_for_select(Database.statuses.keys.to_a, selected: form.object.status), include_blank: I18n.t("admin.basic.forms.select_status") %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="field full">
        <%= form.label :url, class: 'required' %>
        <%= form.text_field :url %>
      </div>

      <div class="field full">
        <%= form.label :years_of_coverage %>
        <%= form.text_field :years_of_coverage %>
      </div>
    </div>

    <div class="row">
      <div class="field full">
        <%= form.label :description, class: 'required' %>
        <%= form.text_area :description %>
      </div>
    </div>

    <div class="row">
      <div class="field full">
        <%= form.label :title_search,  "Keywords" %>
        <div class="micro-text text-left"> 
          <%= I18n.t("admin.databases.forms.keyword_description") %>  
          <strong> 
            <%= I18n.t("admin.databases.forms.keyword_description_example") %>
          </strong> 
        </div>
        <%= form.text_field :title_search %>
      </div>
    </div>

  </fieldset>

  <fieldset>
    <legend> <%= I18n.t("admin.databases.forms.access_title") %> </legend>
    
    <div class="micro-text">
      <%= I18n.t("admin.databases.forms.access_description") %> 
    </div>

    <div class="row">
      <div class="field one-fourth">
        <%= form.label :alumni, 'Alumni Database' %>
        <div class="select-style">
          <%= form.select :alumni, options_for_select([['Yes', true], ['No', false]], selected: form.object.alumni) %>
        </div>
      </div>

      <div class="field one-fourth">
        <%= form.label :popular, 'Popular Database' %>
        <div class="select-style">
          <%= form.select :popular, options_for_select([['Yes', true], ['No', false]], selected: form.object.popular) %>
        </div>
      </div>

      <div class="field one-fourth">
        <%= form.label :full_text_db, 'Full Text Database' %>
        <div class="select-style">
          <%= form.select :full_text_db, options_for_select([['Yes', true], ['No', false]], selected: form.object.full_text_db) %>
        </div>
      </div>
      
      <div class="field one-fourth">
        <%= form.label :new_database %>
        <div class="select-style">
          <%= form.select :new_database, options_for_select([['Yes', true], ['No', false]], selected: form.object.new_database) %>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend> <%= I18n.t("admin.databases.forms.trial_title") %> </legend>
    <div class="micro-text">
       <%= I18n.t("admin.databases.forms.trial_description") %>
    </div>
    <div class="row">
      <div class="field one-fourth">
        <%= form.label :trial_database %>
        <div class="select-style">
          <%= form.select :trial_database, options_for_select([['Yes', true], ['No', false]], selected: form.object.trial_database) %>
        </div>
      </div>

      <div class="field three-fourth"> 
        <%= form.label :trial_expiration_date %>
        <%= form.text_field :trial_expiration_date %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend> <%= I18n.t("admin.databases.forms.help_title") %> </legend>
    <div class="micro-text">
      <%= I18n.t("admin.databases.forms.help_description") %>
    </div>
    
    <div class="field full">
      <%= form.label :help_url, "Help Link", class:"required" %>
      <%= form.text_field :help_url %>
    </div>

     <div class="field full">
      <%= form.label :help, "Help Description" %>
      <%= form.text_area :help %>
    </div>
  </fieldset>

  <fieldset>
    <legend> Informative Tags </legend>

    <div class="micro"> 
      <p> <%= raw I18n.t('admin.databases.forms.informative_tags_description.html') %> </p>
    </div><br/>

    <!-- Subject Field -->
    <div class="field">
      <%= form.label :subject_ids, 'Subjects' %>
      <%= form.collection_select :subject_ids, 
                                 Subject.all.order(:name), 
                                 :id, 
                                 :name, 
                                 { include_hidden: false }, 
                                 { multiple: true } 
      %>
      
      <div class="half select">
        <a href='#' id='subject_select_all'> Select All </a>
      </div>
      
      <div class="half deselect">
        <a href='#' id='subject_deselect_all'> Deselect All </a>
      </div>
    </div>

    <!-- Curated Fields -->
    <div class="field">
      <%= form.label :curated_ids, 'Curated Subjects' %>
      <%= form.collection_select :curated_ids, 
                                 Subject.all.order(:name), 
                                 :id, 
                                 :name, 
                                 { include_hidden: false }, 
                                 { multiple: true } 
      %>
      
      <div class="half select">
        <a href='#' id='curated_select_all'> Select All </a>
      </div>
      
      <div class="half deselect">
        <a href='#' id='curated_deselect_all'> Deselect All </a>
      </div>
    </div>

     <!-- Resource Fields -->
    <div class="field">
      <%= form.label :resource_ids, 'Resource Types' %>
      <%= form.collection_select :resource_ids, 
                                 Resource.all.order(:name), 
                                 :id, 
                                 :name, 
                                 { include_hidden: false }, 
                                 { multiple: true } 
      %>
      
      <div class="half select">
        <a href='#' id='resource_select_all'> Select All </a>
      </div>
      
      <div class="half deselect">
        <a href='#' id='resource_deselect_all'> Deselect All </a>
      </div>
    </div>

  </fieldset>  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
