<%= form_for [:admin, database], html: { multipart: true } do |form| %>
  <% if database.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(database.errors.count, "error") %> prohibited this database from being saved:</h2>

      <ul>
      <% database.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset> 
    <legend> Basic Database Information </legend>
    
    <div class="row"> 
      <div class="field three-fourth">
        <%= form.label :name, 'Title', class: 'required' %>
        <%= form.text_field :name %>
      </div>

      <div class="field one-fourth">
        <%= form.label :status, class: 'required' %>
        <div class="select-style">
          <%= form.select :status, options_for_select(Database.statuses.keys.to_a, selected: form.object.status), include_blank: "Select a Status" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="field full">
        <%= form.label :url, class: 'required' %>
        <%= form.text_field :url %>
      </div>
    </div>

    <div class="field full">
      <%= form.label :years_of_coverage %>
      <%= form.text_field :years_of_coverage %>
    </div>

  </fieldset>

  <fieldset>
    <legend> Database Classifications </legend>

    <div class="field one-third">
      <%= form.label :alumni, 'Alumni Database' %>
      <div class="select-style">
        <%= form.select :alumni, options_for_select([['Yes', true], ['No', false]], selected: form.object.alumni) %>
      </div>
    </div>

    <div class="field one-third">
      <%= form.label :new_database %>
      <div class="select-style">
        <%= form.select :new_database, options_for_select([['Yes', true], ['No', false]], selected: form.object.new_database) %>
      </div>
    </div>

    <div class="field one-third">
      <%= form.label :popular, 'Popular Database' %>
      <div class="select-style">
        <%= form.select :popular, options_for_select([['Yes', true], ['No', false]], selected: form.object.popular) %>
      </div>
    </div>
  </fieldset>

  <div class="field">
    <%= form.label :updated %>
    <%= form.text_field :updated %>
  </div>

  <div class="field">
    <%= form.label :full_text_db %>
    <%= form.number_field :full_text_db %>
  </div>

  <div class="field">
    <%= form.label :new_database %>
    <%= form.number_field :new_database %>
  </div>

  <div class="field">
    <%= form.label :trial_database %>
    <%= form.number_field :trial_database %>
  </div>

  <div class="field">
    <%= form.label :help %>
    <%= form.text_area :help %>
  </div>

  <div class="field">
    <%= form.label :help_url %>
    <%= form.text_area :help_url %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :created_date %>
    <%= form.number_field :created_date %>
  </div>

  <div class="field">
    <%= form.label :updated_date %>
    <%= form.number_field :updated_date %>
  </div>

  <div class="field">
    <%= form.label :popular %>
    <%= form.number_field :popular %>
  </div>

  <div class="field">
    <%= form.label :trial_expire_date %>
    <%= form.number_field :trial_expire_date %>
  </div>



  <div class="field">
    <%= form.label :title_search %>
    <%= form.text_field :title_search %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
