<h2> Database Import </h2>

<p> There is a possibility that the full import does not happen or something errors during this process.  We may not be able to inform you fully of any errors that happen during the bulk database importing and updating please be sure to check all information after the import completes. </p>

<%= form_for @database_import, url: '/import', html: {multipart: true, class: 'report-form', method: 'post'} do |f| %>

  <% if @database_import.errors.any? %>
    <div id="error_explanation" class="full" role="alert" aria-atomic="true">  
      <h2>
        <%= pluralize(@database_import.errors.count, "error") %> 
        Prevented this form from being submitted! 
      </h2>

      <ul>
      <% @database_import.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset> 
    <legend> Database CSV</legend>

    <div class="field full">
      <%= f.label :csv %>
      <%= f.file_field :csv %>
      <%= f.hidden_field :csv_cache %>
    </div>
  </fieldset>
  
  <div class="actions">
    <%= f.submit "Import Now", class: 'button' %>
  </div>

<% end %>