<h1>Database List</h1>

<div class="search-filter">
  <label for="search_filter"> Filter Employees </label>
  <input id="search_filter" type="text" class="reset search-dom" placeholder="Search Databases..."/>

  <div class="micro-text"> 
    Note: Filter is not a typical search, this simple searches the items already present in the interface.  The search here should be kept simple and not use any boolean operators.  It is also recommended that you keep the search to only 1 or 2 words.  
  </div>
</div>

<section class="database-cards">
  <% @databases.each do |database| %>
    <div class="database filter-list">
        <div class="hidden keywords"> 
      
        </div>

        <h2> <%= database.name %> </h2>
        <dl>
          <dt> Status </dt> 
          <dd> <%= database.status %> </dd>

          <dt> Campus Url </dt>
          <dd> <%= database.url %> </dd>

          <dt> Vendor </dt>
          <dd> <%= database.vendor.name unless database.vendor.nil? %> </dd>
        </dl> 

      <div class="actions"> 
        <%= link_to 'Show', admin_database_path(database), { class: 'show-button' } %>
        <%= link_to 'Edit', edit_admin_database_path(database), { class: 'edit-button' } %>
        <%= link_to 'Destroy', admin_database_path(database), method: :delete, class: 'delete-button', data: { confirm: 'Are you sure?' }, title:'delete' %>
      </div>
    </div>
  <% end %>
</section>




<%# link_to 'New Admin Database', new_database_path %>
