<h1>Database List</h1>

<section class="database-cards">
  <% @databases.each do |database| %>
    <div class="database">
        <h2> <%= database.name %> </h2>
        <dl>
          <dt> Status </dt> 
          <dd> <%= database.status %> </dd>

          <dt> Campus Url </dt>
          <dd> <%= database.url %> </dd>

          <dt> Vendor </dt>
          <dd> <%= database.vendor.name unless database.vendor.nil? %> </dd>
        </dl> 

      <div class="actions"> 
        <%= link_to 'Show', admin_database_path(database), { class: 'show-button' } %>
        <%= link_to 'Edit', edit_admin_database_path(database), { class: 'edit-button' } %>
        <%= link_to 'Destroy', admin_database_path(database), method: :delete, class: 'delete-button', data: { confirm: 'Are you sure?' }, title:'delete' %>
      </div>
    </div>
  <% end %>
</section>




<%# link_to 'New Admin Database', new_database_path %>
