<h1><%= I18n.t('admin.databases.index.heading') %></h1>

<div class="container">
  <div class="search-filter">
    <label for="search_filter"> 
      <%= I18n.t('admin.databases.filter_label') %>
    </label>
    <input id="search_filter" type="text" class="reset search-dom" placeholder="Search Databases..."/>

    <div class="micro-text"> 
      <%= I18n.t('admin.databases.filter_warning') %>
    </div>
  </div>
</div>

<section class="database-cards">
  <% @databases.each do |database| %>
    <div class="database filter-list">
        <div class="hidden keywords"> 
          <%= database.keywords.strip %>
        </div>

        <h2> <%= database.name %> </h2>
        <dl>
          <dt> Status </dt> 
          <dd> <%= database.status %> </dd>

          <dt> Campus Url </dt>
          <dd> <%= database.url %> </dd>

          <dt> Vendor </dt>
          <dd> <%= database.vendor.name unless database.vendor.nil? %> </dd>

          <dt> Access </dt>
          <dd> <%= database.access_plain_text.name  unless database.access_plain_text.nil? %> </dd>
          <dd> <%= database.access_type.name unless database.access_type.nil? %> </dd>

          <dt> Trial </dt>
          <dd> <%= database.trial_database ? "Yes" : "No" %> </dd>
          <% if database.trial_database %>  
            <dd> <%= database.trial_expiration_date %> </dd>
          <% end %>

          <dt> Subjects </dt>
          <dd> <%= database.subject_list %> </dd>
        </dl> 

      <div class="actions"> 
        <%= link_to 'Show', admin_database_path(database), { class: 'show-button' } %>
        <%= link_to 'Edit', edit_admin_database_path(database), { class: 'edit-button' } %>
        <%= link_to 'Destroy', admin_database_path(database), method: :delete, class: 'delete-button', data: { confirm: 'Are you sure?' }, title:'delete' %>
      </div>
    </div>
  <% end %>
</section>




<%# link_to 'New Admin Database', new_database_path %>
