<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @database.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @database.status %>
</p>

<p>
  <strong>Years of coverage:</strong>
  <%= @database.years_of_coverage %>
</p>

<p>
  <strong>Url:</strong>
  <%= @database.url %>
</p>

<p>
  <strong>Off campus url:</strong>
  <%= @database.off_campus_url %>
</p>

<p>
  <strong>Updated:</strong>
  <%= @database.updated %>
</p>

<p>
  <strong>Full text db:</strong>
  <%= @database.full_text_db %>
</p>

<p>
  <strong>New database:</strong>
  <%= @database.new_database %>
</p>

<p>
  <strong>Trial database:</strong>
  <%= @database.trial_database %>
</p>

<p>
  <strong>Help:</strong>
  <%= @database.help %>
</p>

<p>
  <strong>Help url:</strong>
  <%= @database.help_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @database.description %>
</p>

<p>
  <strong>Created date:</strong>
  <%= @database.created_date %>
</p>

<p>
  <strong>Updated date:</strong>
  <%= @database.updated_date %>
</p>

<p>
  <strong>Popular:</strong>
  <%= @database.popular %>
</p>

<p>
  <strong>Trial expire date:</strong>
  <%= @database.trial_expire_date %>
</p>

<p>
  <strong>Alumni:</strong>
  <%= @database.alumni %>
</p>

<p>
  <strong>Title search:</strong>
  <%= @database.title_search %>
</p>

<%= link_to 'Edit', edit_admin_database_path(@database) %> |
<%= link_to 'Back', admin_databases_path %>
