<h1><%= I18n.t('admin.databases.index.heading') %></h1>

<table class="table">
  <thead>
    <tr> 
      <th> Name </th>
      <th> Status </th>
      <th> URL </th>
      <th> Vendor </th>
      <th> Access Plain Text </th>
      <th> Access Type</th>
      <th> Trial </th>
      <th> Trail Expiration </th>
      <th> Subjects </th>
      <th colspan="3"> </th>
    </tr>
  </thead>
  
  <% @databases.each do |database| %>
    <tr> 
      <td> <%= database.name %> </td>
      <td> <%= database.status %> </td>
      <td> <%= database.url %> </td>
      <td> <%= database.vendor.name %> </td>
      <td> 
        <%= database.access_plain_text.name  unless database.access_plain_text.nil? %>
      </td>
      <td>  
        <%= database.access_type.name unless database.access_type.nil? %>
      </td>
      <td> <%= database.trial_database ? "Yes" : "No" %> </td>
      <td> <%= database.trial_expiration_date if database.trial_database %> </td>
      <td> <%= database.subject_list %> </td>
      <td> <%= link_to 'Show', admin_database_path(database), { class: 'show-button' } %> </td>
      <td> <%= link_to 'Edit', edit_admin_database_path(database), { class: 'edit-button' } %> </td>
      <td> <%= link_to 'Destroy', admin_database_path(database), method: :delete, class: 'delete-button', data: { confirm: 'Are you sure?' }, title:'delete' %> </td>
    </tr>
  <% end %>
</table>