<nav id="offCanvas" class="offcanvas-left" role="navigation">
  
  <header>
    <h2> Menu </h2>
    <a href="javascript:void(0)" class="button close-button" title="close">
      <span class='fa fa-times-circle'></span>
    </a>
  </header>

  <ul>
    <li> <a href="/"> <span class='fa fa-home'></span> Public </a> </li>
    <li> <a href="/admin"><span class='fa fa-home'></span> Admin </a> </li>
    <!-- Card View Lists -->
    <li class="title"> <h3> Database(s) </h3></li> 
    <li> <%= link_to 'New Database', new_admin_database_path %> </li>
    <li> All (
      <a href="/admin/databases/list" aria-label="List All"> List </a> | 
      <a href="/admin/databases/tables" aria-label="List all as Tables"> Table </a>
    )
    </li>
    <li> Public (
      <a href="/admin/databases/list/production" aria-label="List for Public"> List </a> |
      <a href="/admin/databases/tables/production" aria-label="Table list for Public"> Table </a>
    )
    </li>
    <li> Development (
      <a href="/admin/databases/list/development" aria-label="List for Development"> List </a> |
      <a href="/admin/databases/tables/development" aria-label="Table list for Development"> Table </a>
    )
    </li>
    <li> Hidden (
      <a href="/admin/databases/list/hidden" aria-label="List for Hidden"> List </a> |
      <a href="/admin/databases/tables/hidden" aria-label="Table list for Hidden"> Table </a>
    )
    </li>
    <!-- Management -->
    <li class="title"> <h3> Resource(s) </h3> </li>
    <li> <%= link_to 'New Resource', new_admin_resource_path %>
    <li> <a href="/admin/resources"> Resource List </a></li>
    <li class="title"> <h3> Subject(s) </h3> </li>
    <li> <%= link_to 'New Subject', new_admin_subject_path %>
    <li> <a href="/admin/subjects"> Subject List </a></li>
    <!-- Vendor -->
    <li class="title"> <h3>Vendor(s)</h3> </li>
    <li> <%= link_to 'New Vendor', new_admin_vendor_path %> </li>
    <li> <a href="/admin/vendors"> Vendor List </a></li>
    <!-- Landing Pages -->
    <li class="title"> <h3>Landing Pages</h3> </li>
    <li> <%= link_to 'New Vendor', new_admin_landing_page_path %> </li>
    <li> <a href="/admin/landing_pages"> Landing Pages List </a></li>
    <!-- Reporting -->
    <li class="title"><h3>Exporting </h3>  </li>
    <li> <a href="/admin/databases.csv"> Database(s) CSV Report </a> </li>
     <li> <a href="/admin/databases/libguides.csv"> LibGuides CSV Export </a> </li>
    <!-- Importing/Exporting -->
    <li class="title"> <h3> Importing </h3> </li>
  </ul>
</nav>