<%= form_for [:admin, resource], html: { multipart: true } do |form| %>
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset> 
    <legend> Resource Information </legend>

    <div class="field">
      <%= form.label :name, class: 'required' %>
      <%= form.text_field :name %>
    </div>
  </fieldset>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
