
<% title(@landing_page.database_name) %>

<strong> This is a preview of the landing page without branded styles. </strong>
<hr/>

<h2> <%= @landing_page.database_name %> </h2>

<% unless @landing_page.database.nil? %>
  <h3> Description </h3>
  <p> <%= raw @landing_page.database.description %> </p><br/>
<% end %>

<% if @landing_page.instructions.present? %>
  <h3> Instructions </h3>
  <p> <%= raw @landing_page.instructions %> </p><br/>
<% end %>

<% if @landing_page.restrictions.present? %>
  <h3> Restrictions  </h3>
  <p> <%= raw @landing_page.restrictions %> </p><br/>
<% end %>

<% if @landing_page.html_links.present? %>
  <h3> Notes </h3>
  <p> <%= raw @landing_page.html_links %> </p><br/>
<% end %>


<h3> Contact </h3>
  <p> <strong> <%= @landing_page.contact_name %> </strong> </p>
  <p> <%= @landing_page.contact_title %> </p>
  <p> <%= @landing_page.contact_email %> </p>
  <p> <%= @landing_page.contact_phone_number %> </p>