<% if @trials.present? || @popular.present?  %>
  <div class="left">
    <%# Search Bar %>
    <h2> Database Search </h2>
    <%= render partial: 'public/search/search_bar', locals: {unique_id: 'body-search'} %>

    <%# Databases by Title  %>
    <%= render 'public/partials/title_list'  %>

    <%# Databases by Subject  %>
    <%= render 'public/partials/subjects_list' %>
  </div>

  <div class="right">
    <%# Trail Databases  %>
    <%= render 'public/partials/trials' if @trials.present? %>
    <%# New  %>
    <%= render 'public/partials/new_databases' if @new_databases.present? %>        
    <%# Popular  %>
    <%= render 'public/partials/popular' if @popular.present? %>
    <%# Open Access  %>
    <%= render 'public/partials/open_access_databases' if @open_access.present? %>
    <section class="open_access" aria-label="Admin Login>
      <h2> Admin Login </h2>
      <div class="authentication_links">
         <a href="/login" class="button login">
         <span class="fa fa-unlock"></span>
        Login </a>
      </div>
    </section>
  </div>
<% else %>
  <%# Search Bar %>
  <h2> Database Search </h2>
  <%= render partial: 'public/search/search_bar', locals: {unique_id: 'body-search'} %>

  <%# Databases by Title  %>
  <%= render 'public/partials/title_list'  %>

  <%# Databases by Subject  %>
  <%= render 'public/partials/subjects_list' %>
<% end %>


