
<h2> <%= I18n.t('admin.link_tracking.index.heading') %> </h2>
    
<%= form_tag '', :method => :get do %>
  <div class="filter-results">  
    <div class="filter-date-select">
      <%= label_tag(:start_date, "Start Date:") %>
      <%= date_field_tag(:start_date, @start, id: "start_date", name: "start_date") %>
    </div>
    
    <div class="filter-date-select">
      <%= label_tag(:end_date, "End Date:") %>
      <%= date_field_tag(:end_date, @end, id: "end_date", name: "end_date") %>        
    </div>

    <div class="filter-actions">
      <%= submit_tag "Filter", class: 'submit-button'%>
    </div>    
  </div>
<% end %>

<div class="csv-export">
  <a href="/admin/link_tracking.csv"> Database(s) Link Tracking CSV Export </a>
</div>

<table class="table">
  <thead>
    <tr> 
      <th> Title </th>
      <th> Click Count </th>
      <th colspan="3"> Actions </th>
    </tr>
  </thead>
  
  <% if @databases != nil %>
    <% @databases.each do |database| %>
      <tr> 
        <td data-label="Title"> <%= database.name %> </td>
        <td data-label="Click Count"> <%= database.tracking_count %> </td>
        <td data-label="Show"> <%= link_to raw('<span class="fas fa-eye" title="Show"></span>'), admin_database_path(database), { class: 'show-button', title:'show', 'aria-label':"Show #{database.name}" } %> </td>
      </tr>
    <% end %>
  <% else %>
      No Results Returned.
  <% end %>

</table>