<table width="450" cellpadding="0" cellspacing="0" border="0" class="wrapper" bgcolor="#FFFFFF">
  <tr>
    <td height="10" style="font-size:10px; line-height:10px;" bgcolor="#F2F2F2">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" valign="top">

      <table width="450" cellpadding="0" cellspacing="0" border="0" class="container">
        <tr>
          <td align="center" valign="center" width="400" bgcolor="#0033A0">
            <h1> Database Feedback </h1>
          </td>
        </tr>
      </table>

      <table width="400" cellpadding="0" cellspacing="0" border="0" class="container">
        <tr>
          <td align="left" valign="center" width="400">
          <h2> Submission From </h2>
            <p> 
              <strong> Name : </strong> <%= @feedback.name %>
            </p>
            <p> 
              <strong> Email : </strong> <%= @feedback.email %>
            </p>
            <p> 
              <strong> Phone : </strong> <%= @feedback.phone %>
            </p>
          </td>
        </tr>
      </table>

      <table width="400" cellpadding="0" cellspacing="0" border="0" class="container">
        <tr>
          <td align="left" valign="center" width="400">
          <h2> Database: <br/> <%= @database&.name %> </h2>
            <p> 
              <%= @feedback.feedback %>
            </p>
          </td>
        </tr>
      </table>

    </td>
  </tr>
  <tr>
    <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
  </tr>
</table>  